*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 6, 27);
    position: absolute;
}
.container{
    min-height: 600px;
    min-width: 400px;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
span{
    color: whitesmoke;
    font-size: larger;
}
.yes , .no{
    padding: 8px 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.yes{
    background-color: rgb(19, 172, 34);
}
.no{
    position: relative;
    background-color: rgb(255, 130, 95);
}
.name{
    color: whitesmoke;
    position: absolute;
    bottom: 40px;
    left:calc(50%-40px);
}